@use './variables' as *;

.header {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__heading {
		font-size: 3rem;
		letter-spacing: 2px;
		color: $orange;
	}

	&__subheading {
		color: #c7c7c7;
	}
}
